body{
    font-family: sans-serif;
}

.wrapper{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    border: 1px gray solid;
    border-radius: 10px;
    text-align: center;
    background: rgba(0, 43, 100, 0.1);

}

.num-input{
    padding: 10px;
    width: 30px;
    margin: 5px;
    border-radius: 5px;
}

.num-input:focus, .num-input:active{
    outline: none;
    border: 2px solid #222;
    background: #E9DBF3;
}

.calc-btn{
    margin: 10px 0px 10px 30px;
    border: rgb(0, 43, 100) 0.5px solid;
    color: #002b64;
    border-radius: 50%;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
}

.calc-btn:hover{
    background: #fff;
    color: #910000;
}

.btn{
    padding: 5px 10px;
    margin: 10px;
    border: none;
    color: #222;
    font-size: 2rem;
    background: transparent;
}

.calc-btn:active, .calc-btn:focus, .btn:active, .btn:focus{
    outline: none;
    border: none;
}

.container{
    display: flex;
    max-width: 300px;
    margin: 0 auto;
    justify-content: space-evenly;
}

.result{
    font-weight: 300;
    background: rgba(0, 43, 100, 0.1);
    padding: 3px 5px;
}

